<!DOCTYPE html>
<html>
	<head>
		<title>User page</title>
	</head>

	<body>
		<div id="nav">
			Picture<br>
			Profile<br>
			Follower number<br>
			Followed number<br>
		</div>

		<div id="section">
			<% if @log_status %> 
				<form action='/logout' method="GET">
					<input type="submit" value = "Logout" style="float: right;"/>
				</form>
		
				<form action="/mypage" method="GET">
					<input type="submit" value = "mypage" style="float: right;"/>      
				</form>
		
			<% if @followed_flag %>
				<form action='/unfollow?follower_id=<%=@user_id%>&followee_id=<%=@owner_id%>' method="POST">
					<input type="submit" value = "unfollow" style="float: right;"/>
				</form>
			<%else%>
				<form action='/follow?follower_id=<%=@user_id%>&followee_id=<%=@owner_id%>' method="POST">
					<input type="submit" value = "follow" style="float: right;"/>
				</form>
			<%end%>

			<%else%>
				<form action='/login' method="GET">
					<button type="submit" class="btn btn-info pull-right ">Login</button>
				</form>
		
				<form action='/register' method="GET">
					<button type="submit" class="btn btn-info pull-right ">Register</button>
				</form>
			<%end%>

			<h2><%= @owner_name%>'s Tweets </h2>
			<div id="tweets">
				<%= erb :'parts/_show_tweets.html' %>
			</div>
		</div>
	</body>
</html>


